* {
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(238, 158, 11);
}

body {}

#section1 {
  border: 1px solid purple;
  width: 755px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

button {

  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 100px 3px 30px 5px;
  /* topo:     margem de 100px */
  /* direita:  margem de 3px  */
  /* inferior: margem de 30px */
  /* esquerda: margem de 5px  */
  padding: 15px;
}