header {
    background-color: #333; 
    color: white; 
    padding: 5px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

nav {
    background-color: #666; 
    padding: 100px; 
    text-align: center; 
}

main {
    background-color: white;
    width: 700px;
    height: 700px; 
    margin: 0 auto; 
    text-align: center; 
    line-height: 200px;
}

footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px;
}

body {
    background-color: #666; 
    margin: 0;
}

iframe{
    width: 700px; 
    height: 700px;
}
