table {
    width: 80%;
    width: 90%;
    margin: 0 auto;
    margin-top: 5vh;
    border-collapse: collapse;
}

th {
    background-color: blueviolet;
    padding: 10px;
    color: white;
    font-weight: 100;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: rgb(57, 57, 226);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
